:root{
    --Very-dark-blue-main: hsl(217, 54%, 11%);
    --Very-dark-blue-card: hsl(216, 50%, 16%);
    --Very-dark-blue-line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --Font-size: 18px;
}
html,
body{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}
body{
    background: var(--Very-dark-blue-main);
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;/**/
    align-items: center;
}
.component-card{
    border-radius: 8px;
    width: 90%;
    margin: 0 auto;
    background-color: var(--Very-dark-blue-card);
    display: flex;
    flex-direction: column;
    margin-bottom: 10px; /**/
}
.card-top{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-top img{
    max-width: 87%;
    border-radius: 8px;
    margin:0 auto;
    display: block; /*CENTRE CON REWPECTO A LA ANCHURA*/
    margin-top: 18px; 
}
.vista{
   position: absolute;
   opacity: 0;
}
.card-top img:hover{
    filter: opacity(0.4) drop-shadow(0 0 0 var(--Cyan));
}
.card-top img:hover~.vista{
    opacity: 1;
}
.card-texto{
    max-width: 85%;
    display: flex;
    margin-top: 16px;
    margin-left: 22px;
    flex-direction: column;
}
.card-texto p:nth-child(1){
    font-weight: 600;
    color: var(--White);
    margin: 0;
    font-size: 20px; 
    height: 30px;
    /* padding-left: 20px; */
}
.card-texto p:nth-child(1):hover{
    color: var(--Cyan);
}
.card-texto p:nth-child(2), p:nth-child(3){
    font-weight: 300;
    font-size: 13px;
    margin-bottom: 8px;
    color: var(--Soft-blue);
    height: 0px;
   /* padding-left: 20px;*/
}
.card-bottom-info{
    max-width: 85%;
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    margin-left: 22px;
    margin-top: 10px;
}
.card-bottom-info div:nth-child(1) > img{
    margin-right: 6px;
}

.card-bottom-info div:nth-child(2) > img{
    margin-right: 4px;
    margin-top: 4px;
}
.card-bottom-info div:nth-child(1){
    font-size: var(--Name-statss-Font-size);
    color: var(--Cyan);
    font-size: 16px;
    font-weight: 600;
}
.card-bottom-info div:nth-child(2){
    font-size: var(--Name-statss-Font-size);
    color: var(--Soft-blue);
    font-size: 16px;
    font-weight: 500;
}
.card-creation{
    max-width: 85%;
    display: flex;
    height: 70px;
    align-content: stretch;
    align-items: center;
    justify-content: flex-start;
    border-top: 1px solid var(--Soft-blue);
    margin-left: 22px;
}
.card-creation div:nth-child(1){
    font-size: 14px;
    color: var(--Soft-blue)
}
.card-creation div:nth-child(2){
    font-size: var(--Name-statss-Font-size);
    color: var(--Soft-blue)
}
.card-creation div:nth-child(3){
    font-size: 14px;
    color: var(--White);
    margin-left: 10px;
}
.card-creation div:nth-child(3):hover{
    color: var(--Cyan);
}
.card-creation img{
    border-radius: 50%;
    border: 1px solid white;
    height: 25px;
    margin-right: 14px;
}